.dropdown-section {
    display: flex;
    flex-direction: column;
  }
  
  .dropdown {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
  }
  
  .checkbox-item {
    padding: 5px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    background-color: #fff;
  }
  
  .checkbox-item input {
    margin-right: 7rem;
  }
  
  .done-button {
    background-color: #f4b400;
    border: none;
    padding: 0.5rem 5rem;
    color: white;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
  }
  
  .done-button:hover {
    background-color: #e6a200;
  }
  